---
layout: default
title: Home
---
<div class="home">
  <h1>Latest Articles</h1>
  <ul class="post-list">
    {% assign sorted_articles = site.articles | sort: 'date' | reverse %}
    {% for post in sorted_articles limit:10 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {% if post.description %}
          <div class="post-excerpt">{{ post.description }}</div>
        {% else %}
          <div class="post-excerpt">{{ post.excerpt }}</div>
        {% endif %}
        <a href="{{ post.url | relative_url }}" class="read-more">Read more &rarr;</a>
      </li>
    {% endfor %}
  </ul>
</div>
